{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Us</h1>
<p>We are an American video game, consumer electronics, and wireless services retailer.[2] Our company is headquartered in Grapevine, Texas, United States, a suburb of Dallas, and operates 7,117 retail stores throughout the United States, Canada, Australia, New Zealand, and Europe. Our retail stores primarily operate under the GameStop, EB Games, ThinkGeek, and Micromania brands.[2]</p>
    <h2>Other Brands:-</h2>

    <h3>1)Game Informer</h3>
    <p>Game Informer is a magazine owned by GameStop, Inc. and primarily sold through subscriptions which can be purchased at GameStop locations.[55] Purchasing a subscription to the magazine also gets the subscriber the PowerUp Rewards Pro card, a premium version of GameStop's loyalty card. This increases all store-credit trade values by 10%, discounts all used accessories and games by 10%, gives new PowerUp members a coupon for "Buy 2 Get 1 Free" on pre-owned games and accessories, enters them twice for the Epic Rewards Giveaway for each purchase, gives the cardholder opportunities to gain points with their purchases, and redeem them for rewards and gains them access to special content on the Game Informer website.</p>

    <h3>2)GameStop PC</h3>
    <p>GameStop PC Downloads, formerly called Impulse, is a digital distribution service run and operated by GameStop. Originally known as Impulse when owned by Stardock, it was sold to GameStop in 2011 and rebranded as GameStop PC Downloads, with the Impulse client renamed as the GameStop App. Under the ownership of GameStop, the service has had a redesign and sells games that use other platforms such as Steam while also selling games that use its own proprietary DRM solution Impulse:Reactor.</p>

</div>

</div>


{% endblock %}